
Sell and buy.xcodeproj/xcuserdata/ahmadardal.xcuserdatad/xcschemes/xcschememanagement.plist
Sell and buy.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
Sell and buy.xcodeproj/project.xcworkspace/xcuserdata/ahmadardal.xcuserdatad/UserInterfaceState.xcuserstate
Sell and buy/Model/ItemModel.swift
